langchain == 0.1.16
openai == 1.23.2
streamlit == 1.22.0
streamlit-chat == 0.0.2.2
chainlit == 1.0.504
selenium == 4.19.0
chromadb == 0.4.24
matplotlib == 3.7.1
pandas == 2.0.3
numpy == 1.26.4
lark == 1.1.9
pysqlite3-binary 
faiss-cpu == 1.8.0
tiktoken == 0.5.2
langchain-openai == 0.1.3
langchain-community == 0.0.34
langchain_experimental == 0.0.57
chromedriver-py == 124.0.6367.91
python-dotenv == 1.0.1
google-cloud-storage == 2.16.0
